	<div class="formstyle">
		<form action="[%form_action]" method="post">
			<div class="clear"></div>
			<label for="username"><strong class="title">[%form_username]</strong><br />
			[%form_username_desc]</label>
			<div class="clear"></div>
			<input type="text" class="input_form" name="username" id="username">
			<div class="clear"></div>
			<label for="image_upload"><strong class="title">[%form_file]</strong><br />
			[%form_file_desc]</label>
			<div class="clear"></div>
			<input type="file" class="input_form" id="image_upload" name="image">
			<div class="clear"></div>
			<label for="password"><strong class="title">[%form_password]</strong><br />
			[%form_password_desc]</label>
			<div class="clear"></div>
			<input type="password" class="input_form" name="password" id="password">
			<!--== <input type="submit" class="submit_form" value="[%form_submit]"> -->
		</form>
	</div>