
<IfModule mod_rewrite.c>
# Activate URL Rewrite.
Options -Indexes
RewriteEngine on
RewriteBase /
SetOutputFilter DEFLATE

# URL Rewrite.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>